<!DOCTYPE html>
<html ng-app="BlackChat">
<head lang="en">
    <meta charset="UTF-8">
    <title>BlackChat - Anonymous chat</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-controller="ChatController as Chat">
<div class="wrapper">
    <h1>{{ Chat.message.message }}</h1>
    <div class="chatBox">

        <form ng-submit="Chat.sendMessage()">
            <label ng-show="Chat.message.typing == 1"><i>Someone is typing</i></label>
            <input type="text" placeholder="Type here..." ng-model="Chat.newMessage" ng-change="Chat.inputChanged()" autofocus/>
        </form>

    </div>
    <iframe algin="middle" id="YoutubeFrame" width="720" height="360" src="" frameborder="0" allowfullscreen></iframe>
</div>
</body>
</html>
